{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-runtime",
        "@babel/plugin-transform-class-properties"
    ],
    "parserOpts": {
        "plugins": [
            "dynamicImport"
        ]
    }
}